{% extends "core/base.html" %}

{%block title%} <title>Funcion Ventricular</title>    {%endblock%}


{% block content %}
{% load static %}
<script src="{% static 'mpi/js/funciones.js' %}"></script>
<link rel="stylesheet" href="{% static 'mpi/css/estilosMpi.css' %}">

<body>
	<hr>
	<div class ="contenedor">
		<!-- ******************************************************************FORMULARIO BUSQUEDA************************************************************* -->
		<div class="form-inline"> <!-- Nota:Agrego la clase form-inline para agrupar el los botones con la barra de busqueda -->
			<form class="form-inline"  method="GET">
			  {% csrf_token %}
			    <input type="text" class="verde" placeholder="Buscar paciente.." name="q" style="" >
			      <button type="submit" class="azul"><i class="fa fa-search"></i></button>
				  </form>
				<!-- ***************************************************************FORMULARIO ESTUDIO***************************************************************************** -->		
				<form method="POST">
				    {% csrf_token %}
					<input type="text" name="paciente_mpi" id="id_pac_mpi" style="display: none;"> <!-- id del paciente seleccionado de la tabla -->
				
			<div class="row">
				
									<button type="submit" class="btn btn-danger " disabled="" style="margin-left: 950px;"> Cancelar</button>
									<button type="submit" class="btn btn-warning " disabled="" style="margin-left: 50px;"> Revisar</button>
									<button type="submit" class="btn btn-success "  style="margin-left: 50px;"> Guardar</button>
			</div>
				</div>
	
	 <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive-sm">
	
	  <table class="table table-dark table-hover table-striped mb-0 " border="1" >
	    <thead style="background-color: purple;">
	      <tr>
	       <th>Paciente</th>
	          <th>Nombre</th>
	          <th>Apellido</th>
	          <th>DNI</th>
	          <th>Cobertura medica</th>
	          <th>Numero de afiliado</th>
	           
	      </tr>
	    </thead>
	    <tbody>
	      {% if eventos %}
	    {% for k in eventos %}
	  <tr>
	      <th><input type="radio" value="{{k.id_pac}}" name="d" id="{{k.fecha_nacimiento}}" ></th>
	          <td>{{k.nombre}}</td>
	          <td>{{k.apellido}}</td>
	          <td>{{k.dni}}</td>
	          <td>{{k.cobertura_medica}}</td>
	          <td>{{k.numero_afilido}}</td>
	    </tr>
	    {% endfor %}
	    {% else %}
	    {% endif %}
	    </tbody>
	  </table>
	</div>
	<hr>

<div class="form-inline">

<!-- <label  for="" style=" position:absolute;left: 90px;">STRESS </label> -->
<br>

	<h1 style=" position:absolute;left: 200px; color: white;"  >STRESS</h1> <h1 style=" position:absolute;left: 710px; color: white;" >REST</h1> <h1  style=" position:absolute;left: 1170px; color: white;" >DIFFERENCE</h1>
</div>
	<br> 
		
		<!-- *********************************************************ARCHIVOS PARA EL CIRCULO******************************* -->

					<img src="{% static 'mpi/image/1.png' %}" alt="" class="sss_izquierda par-img1 contenedor" >
					<img src="{% static 'mpi/image/2.png' %}" alt="" class="sss_izquierda par-img3 contenedor">
					<img src="{% static 'mpi/image/3.png' %}" alt="" class="sss_izquierda par-img11 contenedor">
					<img src="{% static 'mpi/image/4.png' %}" alt="" class="sss_izquierda par-img17 contenedor">
					<img src="{% static 'mpi/image/5.png' %}" alt="" class="sss_izquierda par-img15 contenedor">
					<img src="{% static 'mpi/image/6.png' %}" alt="" class="sss_izquierda par-img7 contenedor">
					<img src="{% static 'mpi/image/7.png' %}" alt="" class="sss_izquierda par-img2 contenedor">
					<img src="{% static 'mpi/image/8.png' %}" alt="" class="sss_izquierda par-img4 contenedor">
					<img src="{% static 'mpi/image/9.png' %}" alt="" class="sss_izquierda par-img12 contenedor">
					<img src="{% static 'mpi/image/10.png' %}" alt="" class="sss_izquierda par-img16 contenedor" >
					<img src="{% static 'mpi/image/11.png' %}" alt="" class="sss_izquierda par-img14 contenedor">
					<img src="{% static 'mpi/image/12.png' %}" alt="" class="sss_izquierda par-img6 contenedor">
					<img src="{% static 'mpi/image/13.png' %}" alt="" class="sss_izquierda par-img5 contenedor">
					<img src="{% static 'mpi/image/14.png' %}" alt="" class="sss_izquierda par-img8 contenedor">
					<img src="{% static 'mpi/image/15.png' %}" alt="" class="sss_izquierda par-img13 contenedor" > <!-- no me convence mucho -->
					<img src="{% static 'mpi/image/16.png' %}" alt="" class="sss_izquierda par-img10 contenedor">
					<img src="{% static 'mpi/image/17.png' %}" alt="" class="sss_izquierda par-img9 contenedor">
				
			
			
			
					<img src="{% static 'mpi/image/1.png' %}" alt="" class="ssr_centro" id="ssr1-img">
					<img src="{% static 'mpi/image/2.png' %}" alt="" class="ssr_centro" id="ssr3-img">
					<img src="{% static 'mpi/image/3.png' %}" alt="" class="ssr_centro" id="ssr11-img">
					<img src="{% static 'mpi/image/4.png' %}" alt="" class="ssr_centro" id="ssr17-img">
					<img src="{% static 'mpi/image/5.png' %}" alt="" class="ssr_centro" id="ssr15-img">
					<img src="{% static 'mpi/image/6.png' %}" alt="" class="ssr_centro" id="ssr7-img">
					<img src="{% static 'mpi/image/7.png' %}" alt="" class="ssr_centro" id="ssr2-img">
					<img src="{% static 'mpi/image/8.png' %}" alt="" class="ssr_centro" id="ssr4-img">
					<img src="{% static 'mpi/image/9.png' %}" alt="" class="ssr_centro" id="ssr12-img">
					<img src="{% static 'mpi/image/10.png' %}" alt="" class="ssr_centro" id="ssr16-img">
					<img src="{% static 'mpi/image/11.png' %}" alt="" class="ssr_centro" id="ssr14-img">
					<img src="{% static 'mpi/image/12.png' %}" alt="" class="ssr_centro" id="ssr6-img" >
					<img src="{% static 'mpi/image/13.png' %}" alt="" class="ssr_centro" id="ssr5-img">
					<img src="{% static 'mpi/image/14.png' %}" alt="" class="ssr_centro" id="ssr8-img">
					<img src="{% static 'mpi/image/15.png' %}" alt="" class="ssr_centro" id="ssr13-img"> <!-- no me convence mucho -->
					<img src="{% static 'mpi/image/16.png' %}" alt="" class="ssr_centro" id="ssr10-img">
					<img src="{% static 'mpi/image/17.png' %}" alt="" class="ssr_centro" id="ssr9-img">
				
				
					<img src="{% static 'mpi/image/1.png' %}" alt="" class="ssd_derecha par-img1" id="ssd1-img">
					<img src="{% static 'mpi/image/2.png' %}" alt="" class="ssd_derecha par-img3" id="ssd3-img">
					<img src="{% static 'mpi/image/3.png' %}" alt="" class="ssd_derecha par-img11" id="ssd11-img">
					<img src="{% static 'mpi/image/4.png' %}" alt="" class="ssd_derecha par-img17" id="ssd17-img">
					<img src="{% static 'mpi/image/5.png' %}" alt="" class="ssd_derecha par-img15" id="ssd15-img">
					<img src="{% static 'mpi/image/6.png' %}" alt="" class="ssd_derecha par-img7" id="ssd7-img">
					<img src="{% static 'mpi/image/7.png' %}" alt="" class="ssd_derecha par-img2" id="ssd2-img">
					<img src="{% static 'mpi/image/8.png' %}" alt="" class="ssd_derecha par-img4" id="ssd4-img">
					<img src="{% static 'mpi/image/9.png' %}" alt="" class="ssd_derecha par-img12" id="ssd12-img">
					<img src="{% static 'mpi/image/10.png' %}" alt="" class="ssd_derecha par-img16" id="ssd16-img">
					<img src="{% static 'mpi/image/11.png' %}" alt="" class="ssd_derecha par-img14" id="ssd14-img">
					<img src="{% static 'mpi/image/12.png' %}" alt="" class="ssd_derecha par-img6" id="ssd6-img">
					<img src="{% static 'mpi/image/13.png' %}" alt="" class="ssd_derecha par-img5" id="ssd5-img">
					<img src="{% static 'mpi/image/14.png' %}" alt="" class="ssd_derecha par-img8" id="ssd8-img">
					<img src="{% static 'mpi/image/15.png' %}" alt="" class="ssd_derecha par-img13" id="ssd13-img"> <!-- no me convence mucho -->
					<img src="{% static 'mpi/image/16.png' %}" alt="" class="ssd_derecha par-img10" id="ssd10-img">
					<img src="{% static 'mpi/image/17.png' %}" alt="" class="ssd_derecha par-img9" id="ssd9-img">
				
			
			<div class="form-inline " style="position: absolute; bottom: -200px;" >
			  
			  <div class="progress offset-0" style="width:300px ;height: 30px; position:absolute;left: 90px;" ><!-- <span style="position: absolute;">%</span> -->   <p style="position: relative; top:5px;"><strong>SSS</strong></p>
			    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning "  id="sss" role="progressbar" style="width: 0%;"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" name="sss">
			
			    </div><p></p>
			  </div>
			    
			  <div class="progress offset-0" style="width:300px ; height: 30px; position:absolute;left: 620px;" ><!-- <span style="position: absolute;">%</span> -->   <p style="position: relative; top:5px;"><strong>SSR</strong></p>
			    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"  id="ssr" role="progressbar" style="width: 0%;"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" name="ssr">
			   
			    </div><p></p>
			  </div>
			
			  <div class="progress offset-0" style="width:300px ;height: 30px; position:absolute;left: 1100px;" ><!-- <span style="position: absolute;">%</span> -->   <p style="position: relative; top:5px;"><strong>SSD</strong></p>
			    <div class="progress-bar progress-bar-striped progress-bar-animated "  id="ssd" role="progressbar" style="width: 0%;"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" name="ssd">
			   
			    </div><p></p>
			  </div>
		<!-- 	<button type="submit" class="btn btn-success" > Guardar</button> -->
				
			
			<!-- con porcentaje fijo -->
			<!-- <div class="progress offset-0" style="width:300px ;height: 30px; position:absolute;left: 1100px;" ><span style="position: absolute;">%</span>   <p style="position: relative; top:5px;"><strong>SSD</strong></p> -->
			    <!-- <div class="progress-bar progress-bar-striped progress-bar-animated "  id="ssd" role="progressbar" style="width: 0%;"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"> -->
			   
			    <!-- </div><p>%</p> -->
			  <!-- </div> -->
			
			
			
			</div>
			
			
			<input type="text" id="isss" style="display:none;" name="sss"> 
			<input type="text" id="issr" style="display:none;" name="ssr">
			<input type="text" id="issd" style="display:none;" name="ssd">
			<!-- ---------------------------------------------INPUTS-------------------------------------------------------- -->
		
			<!-- ********************************************************SSS********************************************************************* -->
			
			<div style="width: 500px;height: 450px;position: absolute; left: 0px;" > <!-- Modificando el left se mueven todos los input -->
				
				<input id="isss1" type="text" class="par-i1" style="position: absolute; left: 220px; background: transparent;top: 15px;border: 0; outline: none; height: 45px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s1_rest" readonly>
			
				<input id="isss2" type="text" class="par-i2" style="position: absolute; left: 220px; background: transparent;top: 70px;border: 0; outline: none; height: 45px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s2_rest" readonly>
				
				<input id="isss3" type="text" class="par-i3" style="position: absolute; left: 66px; background: transparent;top: 122px;  border: 0; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s3_rest" readonly>
			
				<input id="isss4" type="text" class="par-i4" style="position: absolute; left: 114px; background: transparent;top: 138px;  border: 0; outline: none; height: 52px; width: 36px;text-align: center; font-size: 25px; font-weight:800;"  name="s4_rest" readonly>
			
				<input id="isss5" type="text" class="par-i5" style="position: absolute; left: 220px; background: transparent;top: 125px;border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s5_rest" readonly>
			
				<input id="isss6" type="text" class="par-i6" style="position: absolute; left: 350px; background: transparent;top: 136px;border:0 ; outline: none; height: 50px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s6_rest" readonly>
			
				<input id="isss7" type="text" class="par-i7" style="position: absolute; left: 398px; background: transparent;top: 122px;border: 0; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s7_rest" readonly>
			
				<input id="isss8" type="text" class="par-i8" style="position: absolute; left: 154px; background: transparent;top: 180px;  border:0 ; outline: none; height: 80px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s8_rest" readonly>
			
				<input id="isss9" type="text" class="par-i9" style="position: absolute; left: 210px; background: transparent;top: 184px;  border: 0; outline: none; height: 80px; width: 80px;text-align: center; font-size: 25px; font-weight:800;" name="s9_rest" readonly>
			
				<input id="isss10" type="text" class="par-i10" style="position: absolute; left: 310px; background: transparent;top: 180px;  border: 0; outline: none; height: 80px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s10_rest" readonly>
			
				<input id="isss11" type="text" class="par-i11" style="position: absolute; left: 66px; background: transparent;top: 280px;  border:0 ; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s11_rest" readonly>
			
				<input id="isss12" type="text" class="par-i12" style="position: absolute; left: 114px; background: transparent;top: 260px;  border: 0; outline: none; height: 45px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s12_rest" readonly>
			
				<input id="isss13" type="text" class="par-i13" style="position: absolute; left: 222px; background: transparent;top: 285px;  border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s13_rest" readonly>
			
				<input id="isss14" type="text" class="par-i14" style="position: absolute; left: 350px; background: transparent;top: 260px;border:0 ; outline: none; height: 45px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s14_rest" readonly>
			
				<input id="isss15" type="text" class="par-i15" style="position: absolute; left: 398px; background: transparent;top: 280px;border:0 ; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s15_rest" readonly>
			
				<input id="isss16" type="text" class="par-i16" style="position: absolute; left: 222px; background: transparent;top: 335px;  border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s16_rest" readonly>
			
				<input id="isss17" type="text" class="par-i17" style="position: absolute; left: 222px; background: transparent;top: 385px;  border:0 ; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s17_rest" readonly>
			</div>
			
			
			<!-- ********************************************************SSR********************************************************************* -->
			
			<div style="width: 500px;height: 450px;position: absolute; left: 500px;"> <!-- Modificando el left se mueven todos los input -->
				
				<input id="issr1" type="text"class="" style="position: absolute; left: 220px; background: transparent;top: 15px;border: 0; outline: none; height: 45px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s1_stress" readonly>
			
				<input id="issr2" type="text"class="" style="position: absolute; left: 220px; background: transparent;top: 70px;border: 0; outline: none; height: 45px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s2_stress" readonly>
				
				<input id="issr3" type="text"class="" style="position: absolute; left: 66px; background: transparent;top: 122px;  border: 0; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s3_stress" readonly>
			
				<input id="issr4" type="text"class="" style="position: absolute; left: 114px; background: transparent;top: 138px;  border: 0; outline: none; height: 52px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s4_stress" readonly>
			
				<input id="issr5" type="text"class="" style="position: absolute; left: 220px; background: transparent;top: 125px;border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s5_stress" readonly>
			
				<input id="issr6" type="text"class="" style="position: absolute; left: 350px; background: transparent;top: 136px;border:0 ; outline: none; height: 50px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s6_stress" readonly>
			
				<input id="issr7" type="text"class="" style="position: absolute; left: 398px; background: transparent;top: 122px;border: 0; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s7_stress" readonly>
			
				<input id="issr8" type="text"class="" style="position: absolute; left: 154px; background: transparent;top: 180px;  border:0 ; outline: none; height: 80px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s8_stress" readonly>
			
				<input id="issr9" type="text"class="" style="position: absolute; left: 210px; background: transparent;top: 184px;  border: 0; outline: none; height: 80px; width: 80px;text-align: center; font-size: 25px; font-weight:800;" name="s9_stress" readonly>
			
				<input id="issr10" type="text"class="" style="position: absolute; left: 310px; background: transparent;top: 180px;  border: 0; outline: none; height: 80px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s10_stress" readonly>
			
				<input id="issr11" type="text"class="" style="position: absolute; left: 66px; background: transparent;top: 280px;  border:0 ; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s11_stress" readonly>
			
				<input id="issr12" type="text"class="" style="position: absolute; left: 114px; background: transparent;top: 260px;  border: 0; outline: none; height: 45px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s12_stress" readonly>
			
				<input id="issr13" type="text"class="" style="position: absolute; left: 222px; background: transparent;top: 285px;  border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s13_stress" readonly>
			
				<input id="issr14" type="text"class="" style="position: absolute; left: 350px; background: transparent;top: 260px;border:0 ; outline: none; height: 45px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s14_stress" readonly>
			
				<input id="issr15" type="text"class="" style="position: absolute; left: 398px; background: transparent;top: 280px;border:0 ; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s15_stress" readonly>
			
				<input id="issr16" type="text"class="" style="position: absolute; left: 222px; background: transparent;top: 335px;  border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s16_stress" readonly>
			
				<input id="issr17" type="text"class="" style="position: absolute; left: 222px; background: transparent;top: 385px;  border:0 ; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s17_stress" readonly>
			</div>
			
			
			<!-- ********************************************************SSD********************************************************************* -->
			
			<div style="width: 500px;height: 450px;position: absolute; left: 1000px;"> <!-- Modificando el left se mueven todos los input -->
				
				<input id="issd1" type="text" class="par-i1" style="position: absolute; left: 220px; background: transparent;top: 15px;border: 0; outline: none; height: 45px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s1_dif" readonly>
			
				<input id="issd2" type="text" class="par-i2" style="position: absolute; left: 220px; background: transparent;top: 70px;border: 0; outline: none; height: 45px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s2_dif" readonly>
				
				<input id="issd3" type="text" class="par-i3" style="position: absolute; left: 66px; background: transparent;top: 122px;  border: 0; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s3_dif" readonly>
			
				<input id="issd4" type="text" class="par-i4" style="position: absolute; left: 114px; background: transparent;top: 138px;  border: 0; outline: none; height: 52px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s4_dif" readonly>
			
				<input id="issd5" type="text" class="par-i5" style="position: absolute; left: 220px; background: transparent;top: 125px;border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s5_dif" readonly>
			
				<input id="issd6" type="text" class="par-i6" style="position: absolute; left: 350px; background: transparent;top: 136px;border:0 ; outline: none; height: 50px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s6_dif" readonly>
			
				<input id="issd7" type="text" class="par-i7" style="position: absolute; left: 398px; background: transparent;top: 122px;border: 0; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s7_dif" readonly>
			
				<input id="issd8" type="text" class="par-i8" style="position: absolute; left: 154px; background: transparent;top: 180px;  border:0 ; outline: none; height: 80px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s8_dif" readonly>
			
				<input id="issd9" type="text" class="par-i9" style="position: absolute; left: 210px; background: transparent;top: 184px;  border: 0; outline: none; height: 80px; width: 80px;text-align: center; font-size: 25px; font-weight:800;" name="s9_dif" readonly>
			
				<input id="issd10" type="text" class="par-i10" style="position: absolute; left: 310px; background: transparent;top: 180px;  border: 0; outline: none; height: 80px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s10_dif" readonly>
			
				<input id="issd11" type="text" class="par-i11" style="position: absolute; left: 66px; background: transparent;top: 280px;  border:0 ; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s11_dif" readonly>
			
				<input id="issd12" type="text" class="par-i12" style="position: absolute; left: 114px; background: transparent;top: 260px;  border: 0; outline: none; height: 45px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s12_dif" readonly>
			
				<input id="issd13" type="text" class="par-i13" style="position: absolute; left: 222px; background: transparent;top: 285px;  border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s13_dif" readonly>
			
				<input id="issd14" type="text" class="par-i14" style="position: absolute; left: 350px; background: transparent;top: 260px;border:0 ; outline: none; height: 45px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s14_dif" readonly>
			
				<input id="issd15" type="text" class="par-i15" style="position: absolute; left: 398px; background: transparent;top: 280px;border:0 ; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s15_dif" readonly>
			
				<input id="issd16" type="text" class="par-i16" style="position: absolute; left: 222px; background: transparent;top: 335px;  border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s16_dif" readonly>
			
				<input id="issd17" type="text" class="par-i17" style="position: absolute; left: 222px; background: transparent;top: 385px;  border:0 ; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s17_dif" readonly>
			</div>
				
			
			</form>
		
	</div>
</body>
{% endblock %}
