{% extends "core/base.html" %} <!-- extiendo de base.htm  -->
{%block title%}  <title>Carga pacientes</title>  {%endblock%}



{% block content %}
<style>
     
            label{
                color: white;
            }
</style>
 

<br><br>
<body>
<div class="container">
    
    <form  method="POST">
       {% csrf_token %}
      <div class="form-group col-md-5">
        <label for="email">Nombre:</label>
        <input type="text" class="form-control" id="email" placeholder="" name="nombre">
      </div>
      <div class="form-group col-md-5">
        <label for="pwd">Apellido:</label>
        <input type="text" class="form-control" id="pwd" placeholder="" name="apellido">
      </div>
      <div class="form-group col-md-3">
        <label for="email">Dni:</label>
        <input type="text" class="form-control" id="email" placeholder="" name="dni">
      </div>
      <div class="form-group col-md-3">
        <label for="pwd">Nacionalidad:</label>
        <input type="text" class="form-control" id="pwd" placeholder=" " name="nacionalidad">
      </div>
      <div class="form-group col-md-7">
            <label for="comment">Domicilio:</label>
            <textarea class="form-control" rows="5" id="comment" name="domicilio"></textarea>
          </div> 
      <div class="form-group col-md-3">
        <label for="pwd">Numero de Domicilio:</label>
        <input type="text" class="form-control col-md-4 " id="pwd" placeholder="" name="numero_domicilio">
      </div>
      <div class="form-group col-md-3">
        <label for="email">Cobertura Médica:</label>
        <input type="text" class="form-control" id="email" placeholder="" name="cobertura_medica">
      </div>
      <div class="form-group col-md-2">
        <label for="pwd">Número de Afiliado:</label>
        <input type="text" class="form-control" id="pwd" placeholder="" name="numero_afilido">
      </div>
      <div class="form-group col-md-3">
            <label for="sel1">Sexo:</label>
            <select class="form-control" id="sel1" name="sexo">
              <option>------</option>  
              <option>Masculino</option>
              <option>Femenino</option>
              
            </select>
          </div> 
      <div class="form-group col-md-3">
        <label for="pwd">Fecha de Nacimiento:</label>
        <input type="date" class="form-control" id="pwd" placeholder="" min="1900-01-01" max="2019-12-31" name="fecha_nacimiento">
      </div>
      <div class="form-group col-md-2">
      <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      <br><br>
    </form>
    
  </div>
  
  
  </body> 
   


 {% endblock %} 