
{% extends "core/base.html" %} <!-- extiendo de base.htm  -->
{%block title%}  <title>Tabla de estudios</title>  {%endblock%}

{% block background %}{% load static %}{% static 'core/img/core.jpg' %}{% endblock %}
<!-- le indico a django que tengo que cargar archivos estaticos para renderizar esta pagina -->
 


{%block headers%}
{%endblock%}


 {% block content %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8"/>
    <!--<link rel="stylesheet" href="estilo.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">  

<!-- Estilos de las fuentes  y los espacios de mis divs de bootstrap   -->
<style>
            .espacio{
            margin-left: 200px;     
            margin-bottom: 20px;
            }

            .cober{
              margin-bottom: 40;
              margin-left: 200px;
            }

            .espacio2{
                 margin-left: 100px;
                 margin-bottom: 20px;
            }
           


            .borde{
            
                background: #2d3436;
                margin-left: 515px;
            }

            .grad {
                background-image: linear-gradient(to right, #636e72 , #dfe6e9);
            }

            
    </style>



 <!-- genero el formulario-->
   <form method="POST">
          {% csrf_token %}
                <div class="row">
                    <div class="col-sm-2 espacio" ><!-- Estudio -->
                        {{form.pacientes.label_tag}}
                        {{form.pacientes}}
                    </div>
                   
                </div>
                    </div>

                
                <div class="row">
                    <div class="col-sm-2 espacio" ><!-- Estudio -->
                        {{form.instituciones.label_tag}}
                        {{form.instituciones}}
                    </div>
                   
                </div>
                    </div>

                   
                    


                    <div class="row">
                            <div class="col-sm-2 espacio"><!-- Dni -->
                                    {{form.medico.label_tag}}
                                    <br>
                                   {{form.medico}}
                            </div>
                            <div class="form-group col-sm-2 espacio2"> <!-- Cobertura Social -->
                                {{form.peso.label_tag}}
                                <br>
                                {{form.peso}} 
                            </div>   
                          </div>
                          <div class="row">
                          <img src="{% static 'core/img/listo.png' %}" alt="" style="position: absolute; right: 250px" class="ml-md-auto" width="500">
                                <div class="col-sm-3 espacio"><!-- NombreCompleto -->
                                        {{form.talla.label_tag}}
                                        <br>
                                        {{form.talla}}
                                </div>    
                            </div>
                            <div class="row">
                                <div class="col-sm-3 espacio"><!-- NombreCompleto -->
                                        {{form.edad.label_tag}}
                                        <br>
                                        {{form.edad}}
                                </div>    
                            </div>
                            
                            <div class="row">
                        
                                   <div class="col-sm-1 espacio"><!-- Peso -->
                                            {{form.imc.label_tag}}
                                            <br>
                                            {{form.imc}}
                                    </div>
                                   
                            </div>
                           
                             <div class="row">
                             <div class="col-sm-3 espacio"><!-- imc -->
                                            {{form.supCorporal.label_tag}}
                                            <br>
                                            {{form.supCorporal}}
                                          
                                    </div>
                            </div>
                             <div class="row">
                        
                                    <div class="col-sm-2 espacio"><!-- perimetro abdominal -->
                                            {{form.urgencia.label_tag}}
                                           
                                            {{form.urgencia}}
                                     </div>
                                     
                             </div>
                            
                             <div class="row">
                        
                                    <div class="col-sm-2 espacio"><!-- perimetro abdominal -->
                                            {{form.perimetroAbdominal.label_tag}}
                                            <br>
                                            {{form.perimetroAbdominal}}
                                     </div>
                                     
                             </div>
                             <div class="row">  
                                    <div class="form-group col-sm-2 espacio"> <!-- Calidad Tecnica -->
                                       {{form.calidadTecnica.label_tag}}
                                        <br>
                                        {{form.calidadTecnica}}   
                                    </div>   
                                </div>
                            <div class="row">  
                                        <div class="form-group col-sm-4 espacio"> <!-- Indicacion del Estudio -->
                                            {{form.indicacion.label_tag}}
                                            <br>
                                            {{form.indicacion}}   
                                        </div>   
                            </div>
                            <div class="row">  
                                    <div class="form-group col-sm-2 espacio"> <!-- Decubito -->
                                       {{form.decubito.label_tag}}
                                       <br>
                                       {{form.decubito}}
                                           
                                         
                                    </div>   
                        </div>
                        <div class="row"> 
                        <div class="form-group col-sm-5 espacio">
                              {{form.observaciones.label_tag}}
                                <br>
                               {{form.observaciones}}
                              </div>
                        </div>
                        
                        <div class="row"> 
                                <div class="form-group col-sm-6 espacio">
                                        <button type="submit" class="btn btn-secondary btn-lg borde ">Guardar</button> 
                                </div>
                        </div>
    </form> 
   


 {% endblock %} 