
{% extends "core/base.html" %}

{%block title%} <title>Antecedentes Patologicos</title>    {%endblock%}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'antec/css/estilosAntecedentes.css' %}">
<script src="{% static 'antec/js/funcionesAntecedentes.js' %}"></script> 


</script>

<body>
																			<hr>
<!-- *****************************************************FORMULARIO DE BUSQUEDA************************************************* -->
<form class="form-inline"  method="GET">
  {% csrf_token %}
    <input type="text" class="verde" placeholder="Buscar paciente.." name="q" style="" >
      <button type="submit" class="azul"><i class="fa fa-search"></i></button>
  </form>
<!-- *********************************************************FORMULARIO ANTECEDENTE PACIENTE**************************************************** -->
<form method="POST">
		    {% csrf_token %}
		    <input type="text" name="paciente_antecedente" id="id_pac_antec" style="display: none;">
			<div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive-sm">
  			<table class="table table-dark table-hover table-striped mb-0 " border="1" >
		    <thead style="background-color: purple;">
		      <tr>
		       <th>Paciente</th>
		          <th>Nombre</th>
		          <th>Apellido</th>
		          <th>DNI</th>
		          <th>Cobertura medica</th>
		          <th>Numero de afiliado</th>
		      </tr>
		    </thead>
		    <tbody>
		      {% if eventos %}
		    {% for k in eventos %}
		  <tr>
		      <th><input type="radio" value="{{k.id_pac}}" name="d" id="{{k.fecha_nacimiento}}" ></th>
		          <td>{{k.nombre}}</td>
		          <td>{{k.apellido}}</td>
		          <td>{{k.dni}}</td>
		          <td>{{k.cobertura_medica}}</td>
		          <td>{{k.numero_afilido}}</td>		    
		    </tr>
		    {% endfor %}
		    {% else %}
		    {% endif %}
		    </tbody>
		  </table>
		</div>																								<hr>
																											<br>
																										
<!-- ************************************************************************************COMIENZO DE FIELDSETS***************************************************** -->

	<div class="form-inline">	            
		            <fieldset class="form-group form-inline col-md-7 ml-md-3">    	
							<legend>FCRV</legend>							
					<div class="form-group form-inline ">
						<div class="col-md-3 form-inline ">
									      <div class="form-check mr-sm-4">
									        <input class="form-check-input " type="checkbox" id="" name="fcrv_hta">
									        <label class="form-check-label"> HTA</label>
									      </div>
						 </div>
				
					<div class="col-md-4 form-inline">			    
						<input class=" form-control" type="date" id="" name="fecha_fcrv_hta">
							  </div><br> <br><br>
				
		           </div> 
	
	<!-- ------------------ -->

		<div class="form-group form-inline ">
	
			<div class="col-md-3 form-inline ">
						      <div class="form-check mr-sm-4">
						        <input class="form-check-input " type="checkbox" id="" name="fcrv_dta">
						        <label class="form-check-label" for="autoSizingCheck"> DTA</label>
						      </div>
						  </div>
			
							<div class="col-md-4 form-inline ">
								<input class=" form-control" type="date" id="" name="fecha_fcrv_dta">		      						
				 			 </div>			  
		  
		</div> 
		
	<!-- --------------------- -->
		
		<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="anteced_fliar">
				        <label class="form-check-label" for=""> ANTECEDENTES FLIARES</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="ex_tabaquismo">
				        <label class="form-check-label" for=""> EX-TABAQUISMO</label>
				      </div>
				  </div>
				
	
		  
	</div> 
	<!-- --------------------------- -->
	
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="dislipemia">
				        <label class="form-check-label" for="">DISLIPEMIA</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="sedentarismo">
				        <label class="form-check-label" for=""> SEDENTARISMO</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	
	
	
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="estres">
				        <label class="form-check-label" for="">ESTRÉS</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="chagas">
				        <label class="form-check-label" for=""> CHAGAS</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="resincron">
				        <label class="form-check-label" for="">RESINCRONIZACIÓN</label>
				      </div>
				  </div>
	
	
				
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="tabaquismo">
				        <label class="form-check-label" for="">TABAQUISMOS</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="marcapasos">
				        <label class="form-check-label" for=""> MARCAPASOS</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="cdi">
				        <label class="form-check-label" for="">CDI</label>
				      </div>
				  </div>		  
	</div> 
	
		
						</fieldset>				
						
					     
		            <fieldset class="form-group form-inline col-md-4 ml-md-3 ">    	
							<legend>CRM</legend>
							
							
				<br> <br>
	
			<div class="form-group form-inline ">
					<div class="col-md-3 form-inline ">
								      <div class="form-check mr-sm-4">
								        <input class="form-check-input " type="checkbox" id="autoSizingCheck">
								        <label class="form-check-label" for="autoSizingCheck"> DTA</label>
								      </div>
								  </div>
		
						<div class="col-md-4 form-inline  ">
						<input class=" form-control" type="date" id="" name="fecha_crm_hta">			      
					
					
								  </div>
		  
			</div> 
		
	
	
	
		<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="pm">
				        <label class="form-check-label" for="">PM</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="pr">
				        <label class="form-check-label" for=""> PR</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="pv">
				        <label class="form-check-label" for="">PV</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="pm_da">
				        <label class="form-check-label" for="">DA</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="pr_dg">
				        <label class="form-check-label" for=""> DG</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="pv_da">
				        <label class="form-check-label" for="">DA</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="pm_dg">
				        <label class="form-check-label" for="">DG</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="pr_cx">
				        <label class="form-check-label" for="">Cx</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="pv_dg">
				        <label class="form-check-label" for="">DG</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="pm_cx">
				        <label class="form-check-label" for="">Cx</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input sr-only " type="checkbox" id="autoSizingCheck">
				        <label class="form-check-label" for="autoSizingCheck"></label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline  ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="pv_cx">
				        <label class="form-check-label" for="">Cx</label>
				      </div>
				  </div>
			  
	</div> 
	
	<br><br>
	
							
						</fieldset>				
						
			<!-- --------------------------------------		 -->
	
	   <fieldset class="form-group form-inline col-md-7 ml-md-3">    	
							<legend>ANTECEDENTES</legend>
							
		
		<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="infarto">
				        <label class="form-check-label" for="">INFARTO</label>
				      </div>
				  </div>
					
		<div class="col-md-4 form-inline ">
			<input class=" form-control" type="date" id="" name="fecha_infarto_reciente">		      
				  </div>
		  
	</div> 
		
		<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc1">
				        <label class="form-check-label" for="">ATC</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc2">
				        <label class="form-check-label" for=""> ATC</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc3">
				        <label class="form-check-label" for="">ATC</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc1_da">
				        <label class="form-check-label" for="">DA</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc2_da">
				        <label class="form-check-label" for=""> DA</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc3_da">
				        <label class="form-check-label" for="">DA</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc1_dg">
				        <label class="form-check-label" for="">DG</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc2_dg">
				        <label class="form-check-label" for="">DG</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc3_dg">
				        <label class="form-check-label" for="">DG</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc1_cx">
				        <label class="form-check-label" for="">Cx</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc2_cx">
				        <label class="form-check-label" for="">Cx</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline  ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc3_cx">
				        <label class="form-check-label" for="">Cx</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc1_cd">
				        <label class="form-check-label" for="">CD</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc2_cd">
				        <label class="form-check-label" for="">CD</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline  ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc3_cd">
				        <label class="form-check-label" for="">CD</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc1_stent_bms">
				        <label class="form-check-label" for="">Stent BMS</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc2_stent_bms">
				        <label class="form-check-label" for="">Stent BMS</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline  ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="" name="atc3_stent_bms">
				        <label class="form-check-label" for="">Stent BMS</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="autoSizingCheck" name="atc1_stent_des">
				        <label class="form-check-label" for="autoSizingCheck">Stent DES</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="autoSizingCheck" name="atc2_stent_des">
				        <label class="form-check-label" for="autoSizingCheck">Stent DES</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline  ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input " type="checkbox" id="autoSizingCheck" name="atc3_stent_des">
				        <label class="form-check-label" for="autoSizingCheck">Stent DES</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<br>
							
						</fieldset>				
					
	
	<!-- ---------------------------------------------------- -->
	
	<div class="p-0 col-md-4 ml-md-3" >
		
		 <fieldset class="form-group form-inline ">    	
								<legend>OTROS</legend>		       
								 <div class="form-group shadow-textarea">
						  
						 			 <textarea class="form-control z-depth-1  col" id="exampleFormControlTextarea6" rows="6"  placeholder="Escribe aquí..." name="otros_antecedentes"></textarea>
									</div>								
							</fieldset>				
			
					<div class=" form-group form-inline my-md-2">	
							<!-- <button class="btn btn-danger mr-md-4 ml-auto" > Cancelar</button> -->
							<button  class="btn btn-success" > Guardar</button>
						</div>	
		</div>
	
	<!-- -----------ultimo div --------------->
</div>
		                </form>

</body>
</html>
{% endblock %}